@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

/* header start */
.banner-section-container {
  max-width: 1440x;
  height: 650px;
  background-color: rgba(229, 84, 115, 0.1);
}
.banner-content {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.banner-text-container {
  width: 50%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-text-container h1 {
  margin-bottom: 20px;
  font-size: 62px;
}
.banner-text-container button {
  width: 150px;
  height: 45px;
  background-color: rgb(229, 84, 115);
  border: none;
  border-radius: 2px;
  margin-top: 30px;
  margin-right: 420px;
}
.banner-image-container {
  height: 650px;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.banner-image-container img {
  width: 80%;
  height: 650px;
  margin-left: 120px;
}

/* header end here */



   /* main er style start here */

.featured-image-container{
    width: 90%;
    margin: 0 auto;
    height: 650px;
    border: 2px solid red;
    margin-top: 140px;
  
    

}

.featured-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    margin: 0 auto;
    width: 50%;

     
  
}

.featured-title h1{
    color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
}

.featured-title p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
margin-top: 20px;

}

.featured-images{
    display: flex;
    gap: 60px ;
    width: 99%;
    margin: 0 auto;
    
  

}

.first-image{
    width: 464px;
    width: 33%;
height: 538px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

border-radius: 300px 300px 0px 0px;

background: rgba(167, 33, 98, 0.15);

}

.second-image{
    width: 464px;
    width: 33%;
    height: 538px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0px 0px;

background: rgba(5, 151, 160, 0.15);
    
}
.third-image{
    width: 33%;
    width: 464px;
    height: 530px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 300px 300px 0px 0px;

background: rgba(71, 125, 17, 0.15);

}


/* three image start here */

.three-image-container{
    width: 1440px;
height: 320px;
border-radius: 8px;

background: rgba(39, 39, 39, 0.05);
  margin: 0 auto;
  margin-top: 100px;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.heading{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: center;
}

.one-img{
    width: 372px;
height: 147px;
display: flex;
justify-content: center;
align-items: center;

}

.two-img{
    width: 316px;
height: 147px;
display: flex;
justify-content: center;
align-items: center;

}

.three-img{
    width: 202px;
height: 147px;
display: flex;
justify-content: center;
align-items: center;
 
}
.title-image-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



